node_modules/
jspm_packages/
web_modules/

.env

*.pem
*.key

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

dist/
build/
out/
*.tsbuildinfo

coverage/
*.lcov
.nyc_output
.eslintcache
.prettiercache
.parcel-cache
.cache/
pids
*.pid
*.seed
*.pid.lock
.node_repl_history

.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
