
* {
  box-sizing: border-box;
}

.register-page {
  min-height: 100vh;
  background: #f4f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Arial, sans-serif;
}

/* Admin Login */

.admin-login {
  position: absolute;
  top: 25px;
  right: 35px;

  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: #1d3557;
  font-weight: 600;
}

.admin-login:hover {
  color: #0b63ce;
}

/* Main Container */

.register-container {
  width: 900px;
  min-height: 570px;

  background: white;
  border-radius: 18px;

  display: flex;
  overflow: hidden;

  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
}

/* Left Side */

.register-left {
  width: 42%;
  background: #0b3d91;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px;
}

.bank-logo {
  font-size: 65px;
  margin-bottom: 10px;
}

.register-left h1 {
  font-size: 34px;
  margin: 10px 0;
}

.register-left p {
  line-height: 1.7;
  color: #dbe8ff;
}

.security-info {
  margin-top: 40px;
  padding: 12px 18px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;

  font-size: 13px;
}

/* Register Card */

.register-card {
  width: 58%;
  padding: 45px 55px;
}

.register-card h2 {
  margin: 0;
  font-size: 30px;
  color: #1d2939;
}

.subtitle {
  color: #667085;
  margin-bottom: 28px;
}

/* Inputs */

.input-group {
  margin-bottom: 17px;
}

.input-group label {
  display: block;
  margin-bottom: 7px;

  font-size: 14px;
  font-weight: 600;
  color: #344054;
}

.input-group input {
  width: 100%;
  height: 44px;

  border: 1px solid #d0d5dd;
  border-radius: 7px;

  padding: 0 13px;
  font-size: 14px;

  outline: none;
}

.input-group input:focus {
  border-color: #0b63ce;
}

/* Button */

.register-btn {
  width: 100%;
  height: 46px;

  margin-top: 8px;

  border: none;
  border-radius: 7px;

  background: #0b63ce;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}

.register-btn:hover {
  background: #084c9e;
}

/* Login */

.login-text {
  text-align: center;
  margin-top: 22px;
  color: #667085;
  font-size: 14px;
}

.login-text a {
  color: #0b63ce;
  text-decoration: none;
  font-weight: 600;
}

/* Responsive */

@media (max-width: 768px) {
  .register-container {
    width: 92%;
  }

  .register-left {
    display: none;
  }

  .register-card {
    width: 100%;
    padding: 35px 25px;
  }

  .admin-login {
    right: 20px;
  }
}

